VITE_CHAIN_ENV=mainnet

VITE_TREASURE_ENGINE_ADDRESS_MAINNET=0xYOUR_TREASURE_ENGINE_ADDRESS
VITE_TREASURE_ENGINE_ADDRESS_SEPOLIA=0xYOUR_TREASURE_ENGINE_ADDRESS

VITE_HUNT_TOKEN_ADDRESS_MAINNET=0xYOUR_HUNT_TOKEN_ADDRESS
VITE_HUNT_TOKEN_ADDRESS_SEPOLIA=0xYOUR_HUNT_TOKEN_ADDRESS

VITE_MAP_TOKEN_ADDRESS_MAINNET=0xYOUR_MAP_TOKEN_ADDRESS
VITE_MAP_TOKEN_ADDRESS_SEPOLIA=0xYOUR_MAP_TOKEN_ADDRESS

VITE_HUNT_STAKING_ADDRESS_MAINNET=0xYOUR_HUNT_STAKING_ADDRESS
VITE_HUNT_STAKING_ADDRESS_SEPOLIA=0xYOUR_HUNT_STAKING_ADDRESS

VITE_USDC_ADDRESS_MAINNET=0xYOUR_USDC_ADDRESS
VITE_USDC_ADDRESS_SEPOLIA=0xYOUR_USDC_ADDRESS

VITE_WALLETCONNECT_PROJECT_ID=YOUR_PROJECT_ID
VITE_DEMO_MODE=false
